certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
ffmpeg-python==0.2.0
filelock==3.15.4
future==1.0.0
huggingface-hub==0.23.4
idna==3.7
lxml==5.2.2
more-itertools==10.3.0
numpy==2.0.0
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.2.1.18
openai-whisper==20231117
packaging==24.1
Pillow==10.4.0
progressbar==2.5
pycparser==2.22
pydub==0.25.1
python-docx==1.1.2
PyYAML==6.0.1
regex==2024.5.15
requests==2.32.3
srt==3.5.3
tokenizers==0.19.1
torch==2.3.1
tqdm==4.66.4
transformers==4.42.4
typing_extensions==4.12.2
urllib3==2.2.2
vosk==0.3.45
websockets==12.0
emoji==2.12.1
